@font-face {
  font-family: Bebas;
  font-style: normal;
  src: url("../fonts/bebas/BEBAS___.ttf");
  -webkit-font-smoothing: antialiased !important;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: GothamNarrowLight;
  font-style: normal;
  src: url("../fonts/gotham/gotham-light.otf") format("opentype");
  -webkit-font-smoothing: antialiased !important;
  text-rendering: optimizeLegibility;
}

html {
  -webkit-font-smoothing: antialiased;
  height: 100%;
  width: 100%;
}

.content {
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 3.8vw;
  font-weight: 900;
  -text-stroke: 1%;
  text-shadow: 0 0 1px rgba(51,51,51,0.2) 2;
  font-family: Bebas;
  word-spacing: 15px;
  letter-spacing: 2px;
}

.content p {
  display: inline-block;
  width: 10%;
  color: #fff;
  text-align: center;
  font-size: 3.8vw;
  font-weight: 900;
  -text-stroke: 1%;
  text-shadow: 0 0 1px rgba(51,51,51,0.2) 2;
  font-family: Bebas;
  word-spacing: 15px;
  letter-spacing: 2px;
}

#bt-menu ul li a {
  font-weight: normal;
  word-spacing: 0vh;
  line-height: 2.1vh;
  text-shadow: 0 0 1px rgba(51,51,51,0.2) 2;
  font-family: GothamNarrowLight, sans-serif;
}