@font-face {
  font-family: Bebas;
  font-style: normal;
  src: url("../fonts/bebas/BEBAS___.ttf");
  -webkit-font-smoothing: antialiased !important;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: FiraSansMedium;
  font-style: normal;
  src: url("../fonts/fira-sans/FiraSans-Medium.otf");
  -webkit-font-smoothing: antialiased !important;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: FiraSansSemibold;
  font-style: normal;
  src: url("../fonts/fira-sans/FiraSans-SemiBold.otf");
  -webkit-font-smoothing: antialiased !important;
  text-rendering: optimizeLegibility;
}

.content {
  text-align: center !important;
}

.content > .bar {
  height: 225px;
  width: 0px;
  background-color: #fff;
  margin: 0 auto;
}

.content > .bar > .barText {
  display: none;
  position: absolute;
  right: 16%;
}

.content > .bar > .barText > ul > li {
  margin-top: 4%;
  margin-bottom: 5%;
  text-align: right;
  font-size: 3.5vh;
  text-shadow: 0 0 1px rgba(51,51,51,0.2) 2;
  font-family: FiraSansSemibold;
  letter-spacing: 1px;
  color: #000;
}

.content > .bar > .icon-bar {
  float: right;
}

.content > .bar > .icon-bar > * i {
  text-align: right;
  color: #3db6f1;
}