html(lang='en' ng-app="pageController")
	head
		meta(charset='utf-8')
		title Single Page App
		include add/_css
		include add/_js
	body

		include blocks/one_page_main
		include blocks/menu

		<script src="js/angular.js"></script>
		<script src="js/angular-route.js"></script>
		<script src="js/onePage.controller.js"></script>
		<script src="js/classie.js"></script>
		<script src="js/foundation.min.js"></script>
		<script src="js/borderMenu.js"></script>
		<script>
		$(document).foundation();
		$('.classysocial').ClassySocial();
		</script>