html(lang='en' ng-app="pageController")
	head
		meta(charset='utf-8')
		title Single Page App
		include add/_css
		include add/_js
	body
		//.block
		include blocks/spa
		include blocks/classysocial
		//include blocks/menu

		<script src="js/classie.js"></script>
		<script src="js/foundation.min.js"></script>
		<script src="js/borderMenu.js"></script>
		<script src="js/parallax.js"></script>
		<script src="js/bottomScript.js"></script>