html(lang='en' ng-app="pageController")
	head
		meta(charset='utf-8')
		title Single Page App
		include add/_css
		include add/_js
	body
		include blocks/menu
		include blocks/one_page_main
		.footer
		<script src="js/angular.js"></script>
		<script src="js/angular-route.js"></script>
		<script src="js/onePage.controller.js"></script>