@font-face
	font-family Bebas
	font-style normal
	src url(../fonts/bebas/BEBAS___.ttf)
	font-smoothing antialiased !important
	text-rendering optimizeLegibility
@font-face
	font-family FiraSansMedium
	font-style normal
	src url(../fonts/fira-sans/FiraSans-Medium.otf)
	font-smoothing antialiased !important
	text-rendering optimizeLegibility
@font-face
	font-family FiraSansSemibold
	font-style normal
	src url(../fonts/fira-sans/FiraSans-SemiBold.otf)
	-webkit-font-smoothing antialiased !important
	text-rendering optimizeLegibility
@font-face
	font-family GothamNarrowLight
	font-style normal
	src url(../fonts/gotham/GothamNarrow-Light.otf)
	-webkit-font-smoothing antialiased !important
	text-rendering optimizeLegibility