@import 'nib'
@import 'requires/*'
abs = absolute

.aboutMe .columns
	font-size 4vw
	padding-right 6.6rem !important

.aboutMe p
	font-size 4vw
	padding-left 0.4rem
	color #2c3e50

.leftContent
	float left
	position relative
	display inline-block
	width 50%
	height 100%
	p
		fontSetGothamLight()
		font-size 3vh
		color #FFF
		width 80%
		word-spacing 0px
		font-weight 500
		letter-spacing 0px
		line-height 6vh
		text-align left

.rightContent
	float right
	color black
	position relative
	display inline-block
	fontSetGothamLight()
	font-size 2vh
	width 50%
	height 100%
	> ul
		>li:first-child
			font-size 5vh
		>li
			margin-bottom 5%
			.goal
				font-size 2vh
				font-weight 700
			.goalProgress
				width 80%
				font-size 1.5vh
				margin 0 auto
			.progressBar
				border-radius 2px
			#graduation
				.progressBar
					background-color #162952 !important
			#courseReg
				.progressBar
					background-color #ee9b00 !important
			#website
				.progressBar
					background-color #E01F59 !important
			a
				color blue !important

.aboutMe #first
	width 50%
	height 100%
	opacity 1
	background-color #2c3e50

.aboutMe #second
	backgroundSet()
	background-repeat no-repeat
	background-size 100%
	background-color #FFFFFF