@import 'nib'

a, li
	-webkit-tap-highlight-color rgba(0, 0, 0, 0)

/* Windows Chrome ugly fix http://stackoverflow.com/questions/13674808/chrome-svg-font-rendering-breaks-layout/14345363#14345363 */
@media screen and (-webkit-min-device-pixel-ratio 0)
	@font-face
		font-family 'icomoon'
		src: url('../fonts/icomoon.svg#icomoon') format('svg')
/* Global CSS that are applied for all screen sizes */

.menu_container
	position fixed
	width 100%

.main.clearfix
	position static
.nav ul
	max-width 1240px
	margin 0
	padding 0
	list-style none
	font-size 1.5em
	font-weight 300

.nav li span
	display block
	
.nav a
	display block
	color rgba(249, 249, 249, .9)
	text-decoration none
	transition: color .5s, background .5s, height .5s

/* Make the font smoother for Chrome */
.nav i 
	transform translate3d(0, 0, 0)
	
/* Remove the blue Webkit background when element is tapped */
a, button
	-webkit-tap-highlight-color rgba(0,0,0,0)
	
/* Подсветка ячеек */
.no-touch .nav ul:hover a
	color: rgba(249, 249, 249, .5)

.no-touch .nav ul:hover a:hover
	color rgba(249, 249, 249, 0.99)

/* Menu colors */
menuColor = rgb(241, 196, 15) rgb(255,79,0) rgb(61,182,241) rgb(14,83,167)
menuColorAlt = #f0c82a #dbbb8c #d7a790 #8b4c3d
for i in 0..3
	.nav li:nth-child(6n+{i+1})
		background: menuColor[i];

.nav li
	float left
	width 25%
	text-align center
	border-radius 2px
	transition border 0.5s

.nav a
	display block
	width auto
	
/* hover, focused and active effects that add a little colored border to the different items */
for i in 0..3
	.no-touch .nav li:nth-child(6n+{i+1}) a:hover,
	.no-touch .nav li:nth-child(6n+{i+1}) a:active,
	.no-touch .nav li:nth-child(6n+{i+1}) a:focus
		border-radius 2px
		border-bottom 4px solid menuColor[i]
.icon
	padding-top 1.4em
	
.icon + span
	margin-top 2.1em
	transition margin .5s

.nav a
	height 9em
	
.no-touch .nav a:hover,
.nav a:active,
.nav a:focus
	height 10em
	
/* Making the text follow the height animation */
.no-touch .nav a:hover .icon + span  
	margin-top 3.2em
	transition margin .5s

.nav i
	position relative
	display inline-block
	margin 0 auto
	padding 0.4em
	border-radius 222px
	font-size 1.8em
	box-shadow 0 0 0 30px transparent
	background rgba(255,255,255,0.1)
	transform translate3d(0, 0, 0)
	transition box-shadow .6s ease-in-out
	
	/* Animate the box-shadow to create the effect */
.no-touch .nav a:hover i,
.no-touch .nav a:active i,
.no-touch .nav a:focus i 
	box-shadow 0 0 0 0 rgba(255,255,255,0.2)
	transition box-shadow .4s ease-in-out

/* Styling the toggle menu link and hiding it */
.nav .navtoogle
	display none
	padding 0.5em 0.5em 0.8em
	font-family 'Lato' Calibri Arial sans-serif
	font-weight normal
	text-align left
	color rgb(7, 16, 15)
	font-size 1.2em
	background none
	border none
	border-bottom 4px solid rgb(221, 221, 221)
	cursor pointer

