@import 'nib'
@import 'requires/*'
abs = absolute

.contacts .content
	text-align center !important
	margin-top 15%
a
	color #FFFFFF !important

.contacts .bar.animated
	margin-right 25%
	margin-top 5%
.contacts .bar
	border-radius 2px
	margin-right 25%
	margin-top 5%
	height 231px
	width 0px
	margin 0 auto
	> .barText
		display none
		position absolute
		right 0%
		> ul
			width 396px
			> li
				fontSetGothamLight()
				padding 5% 0% 0% 15%
				height 70px
				text-align left
				font-size 2vh
				font-weight 900
				background-color #000000#f
				transition 0.5s
				width 100%
				> a a:hover a:focus a:link
					color #FFFFFF !important
			> li:first-child
				border-top-style none
				padding-top 3%
				padding-bottom 20%
			> li:last-child
				height 70px
			> li:hover
				background-color #C9AF6D
				transition 0.5s
		> .icon-bar
			top -2%
			left 6%
			position abs
			background-color #0000
			float right
			> a:nth-child(2)
				margin-top 25%
			> * i
				color #FFFFFF

.contacts #first
	backgroundMainSet()
	z-index -1 !important
	opacity 0.4
	background-color #000000

.contacts #second
	backgroundMainSet()
	background-image url('../img/background.jpg')
	background-repeat no-repeat
	background-size 100% 110%
	z-index -2 !important