@import 'nib'
abs = absolute

html
	-webkit-font-smoothing: antialiased
	height 100% //1366px
	width 100% //1080px

@font-face
	font-family Bebas
	font-style normal
	src url(fonts/bebas/BEBAS__.ttf)
	font-smoothing antialiased !important
	text-rendering optimizeLegibility

fontSet()
	font-size 4.3em
	font-weight 900
	-text-stroke 1%
	text-shadow 0 0 1px rgba(51,51,51,0.2)2
	font-family Bebas

backgroundSet()
	width 100%
	height 100%
	position absolute
	z-index -1

.one_page_main
	z-index -1
	position absolute

.page_container
	width 100%

.contentText
	padding-top 2em
	padding-left 1em
	width 100%
	color white
	text-align left
	fontSet()

.footer
	bottom 0%
	position fixed
	height 4%
	width 100%

.first > #second
	background-image url('../img/alm-mountains.jpg')
	background-repeat no-repeat
	background-size 100%
	z-index -2 !important
	backgroundSet()

.first > #first
	backgroundSet()
	opacity 0.9
	background-color rgb(61,182,241)

.second > .background
	backgroundSet()
	background-color rgb(255,79,0)

.third > .background
	backgroundSet()
	background-color rgb(61,182,241)