@import 'nib'
@import 'requires/*'
abs = absolute

html
	-webkit-font-smoothing: antialiased
	height 100% //1366px
	width 100% //1080px

.content
	width 100%
	color white
	text-align center
	fontSetUpper()
	p
		display inline-block
		width 10%
		color white
		text-align center
		fontSetUpper()

#bt-menu ul li a
	fontSetGothamLight()