@import 'nib'
@import 'requires/*'
abs = absolute

.main .intro
	padding-left 28%
	padding-top 10%
	width 100%

.main #first
	backgroundMainSet()
	z-index -1 !important
	opacity 0.6
	background-color #22313F

.main #second
	backgroundMainSet()
	background-image url('../img/alm-mountains.jpg')
	background-repeat no-repeat
	background-size 100%
	z-index -2 !important