@import 'nib'
@import 'requires/*'
abs = absolute

.skills

	.skillsLabel
		margin-bottom 5%

	.controls
		top 15%
		position abs
		li > button
			fontSetGothamLight()
			width 65%
			font-size 1.5vh
		li > h2
			margin-left 15%
			color white
	.content
		margin-left 2%
	.infoBlock
		text-align center
		border-style solid
		border-width 4px
		border-radius 8px
		font-size 5vh

	.langContent
		text-align center
		font-size 3.3vh

	.columns.mix
		width 25%
		margin-bottom 3%

	.langs .progress
		width 90%
		margin 5% 0% 2% 5%

.skills #Container .mix
	display none

.row.langs
	max-width 85% !important

.skills > .background
	z-index 0
	backgroundSet()
	background-color rgb(52, 152, 219)
