@import 'nib'
@import 'requires/*'
abs = absolute

.skills
	.skillsLabel
		font-size 4vw
		margin-bottom 5%
	.content
		margin-left 3.5%
	.langs .progress
			width 90%
			margin 5% 0% 2% 5%
	#Container .mix
		display none
@media only screen and (max-width: 1450px)
	.row.langs
		max-width 80% !important
	.langContent
		text-align center
		font-size 3.3vh
	.columns.mix
		width 20vw
		height 20vh
		margin-bottom 3%
	.infoBlock
		width 100%
		text-align center
		border-style solid
		border-width 4px
		border-radius 8px
		font-size 4vh
	.controls
		top 15%
		position abs
		li > button
			fontSetGothamLight()
			width 65%
			font-size 1.6vh
			font-weight 900
		li > h2
			margin-left 15%
			color white

@media only screen and (max-width : 1030px)
	.row.langs
		max-width 65% !important
	.langContent
		text-align center
		font-size 3.3vh
	.columns.mix
		margin-bottom 3%
	.infoBlock
		border-style solid
		border-width 3px
		border-radius 8px
		p
			display initial
			width 80%
			font-size 4vh
	.controls
		top 10%
		position abs
		li > button
			fontSetGothamLight()
			width 65%
			font-size 1.6vh
			font-weight 900
		li > h2
			margin-left 15%
			color white

.skills > .background
	z-index 0
	backgroundSet()
	background-color rgb(52, 152, 219)
	background-size 100%
