section.aboutMe
	.background#second
				.background#first
	.page_container
		.content
				.row
					.large.columns.skills About
						p Me
				.leftContent 
					p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I'm a passionate Digital Designer and Creative Developer, with a love for digital storytelling. I’m obsessed by usability, and constantly look to create intriguing and concept enhancing interactions that remain intuitive for the user. I’m obsessed with details, and feel strongly about the importance and benefits of prototyping during the design stage of a project.
				.rightContent
					ul.no-bullet
						li Goals
						li
							.goal Graduation from Pennsylvania State University (December, 2016)
							.goalsProgress#graduation
						li
							.goal Personal SPA website
							.goalsProgress#website
						li
							a(href="http://psr.yeralin.net")
								.goal Penn State Course Registration Project
								.goalsProgress#courseReg