section.aboutMe
	.background#second
				.background#first
	.page_container
		.content
				.row
					.large.columns.skills About
						p Me
				.leftContent I'm passionate programmer
				.rightContent
					ul.no-bullet
						li Goals
						li
							.goal Graduation from Pennsylvania State University (December, 2016)
							.goalsProgress#graduation
						li
							.goal Personal SPA website
							.goalsProgress#website
						li
							.goal Penn State Course Registration Project
							.goalsProgress#courseReg