section.contacts
	ul#scene2.scene2.no-bullet
		li.layer(data-depth="0.1")
			.background#second
				.background#first
		li.layer(data-depth="0.2")
			.page_container
				.content
					.row
						.small-3.large-centered.columns.skills Contacts
					.bar
						.barText
							ul.no-bullet
								li
									a.infoAddr 10 Vairo blvd. Apt. 215B
										br
										|State College PA 16803
										br
										|USA
								li
									a.infoTel +19177424658
								li
									a.infoMail daniyar.yeralin@gmail.com
							.icon-bar.large-vertical.three-up
								a.item
									i.fi-home
								a.item
									i.fi-telephone
								a.item
									i.fi-mail