section.main
	ul#scene.scene.no-bullet
		li.layer(data-depth="0.1")
			.background#second
				.background#first
		li.layer(data-depth="0.2")
			.page_container
				.content
					.intro Hello and Welcome
						br
						|My name is Daniyar Yeralin
						br
						|I'm Designer and
						br
						|Software Developer
						br
						|Living and Studying in the USA