section.main
	ul#scene.scene.no-bullet
		li.layer(data-depth="0.1")
			.background#second
				.background#first
		li.layer
			.page_container
				.content
					.introTop Hello and Welcome
						br
						|My name is Daniyar Yeralin
					.rw-wrapper
						h2.rw-sentence
							span I'm
								.rw-words.rw-words-1
									span Software Developer
									span System Programmer
									span Front-End Designer
									span Back-End Developer
									span Web Developer
					.introBot Living and Studying in the USA