nav#bt-menu.bt-menu
	a.bt-menu-trigger
		span Menu
	ul
		li
			a.bt-icon.icon-user-outline About me
		li
			a.bt-icon.icon-user-outline Portfolio
		li
			a.bt-icon.icon-user-outline &#160;
		li
			a.bt-icon.icon-user-outline &#160;
		li
			a.bt-icon.icon-user-outline Other
		li
			a.bt-icon.icon-user-outline Contact Me