.menu_container
	.main.clearfix
			nav.nav#menu
				ul
					li
						a#home(href='#')
							span.icon
								i.icon-home(aria-hidden='true')
							span Home
					li
						a#portfolio(href='#')
							span.icon
								i.icon-quill(aria-hidden='true')
							span Portfolio
					li
						a#aboutMe(href='#')
							span.icon
								i.icon-smiley(aria-hidden='true')
							span About me
					li
						a#contact
							span.icon(href='#')
								i.icon-phone(aria-hidden='true')
							span Contact