nav#bt-menu.bt-menu
	a.bt-menu-trigger
		span Menu
	ul
		li
			a.bt-icon.icon-user-outline.mAbout About me
		li
			a.bt-icon.icon-user-outline.mPorfolio Portfolio
		li
			a.bt-icon.icon-user-outline &#160;
		li
			a.bt-icon.icon-user-outline &#160;
		li
			a.bt-icon.icon-user-outline.mSkills Skills
		li
			a.bt-icon.icon-user-outline.mContact Contact Me