nav#bt-menu.bt-menu
	a.bt-menu-trigger
		span Menu
	ul
		li
			a.bt-icon.icon-user-outline Portfolio
		li
			a.bt-icon.icon-sun Works
		li
			a.bt-icon.icon-windows Blya
		li
			a.bt-icon.icon-speaker Blya
		li
			a.bt-icon.icon-star Blya
		li
			a.bt-icon.icon-bubble Blya