.one_page_main
	section.first
		.background#first
		.background#second
		.page_container
			.contentText Hello and Welcome
				br
				|My name is Daniyar Yeralin
				br
				|I'm Designer and
				br
				|Software Developer
				br
				|Living and Studying in the USA
	section.second
		.background
		.page_container
			.contentText
				button.sort(data-sort="random") Random
				#Container
					.row
						.large-3.columns.mix
							.infoBlock C++
						.large-3.columns.mix
							.infoBlock Java
						.large-3.columns.mix
							.infoBlock HTML5
						.large-3.columns.mix
							.infoBlock Python
	section.third
		.background
		.page_container
			.contentText Hello and Welcome!