.one_page_main
			section.first.active
				//.classysocial (data-orientation="line" data-picture="images/share_core_square.jpg" data-facebook-handle="picozu" data-socl-handle="marius-stanciu" data-twitter-handle="picozu_editor" data-email-handle="office@picozu.net" data-pinterest-handle="picozu" data-instagram-handle="picozu" data-networks="socl,facebook,twitter,instagram,pinterest,email")
				.background#first
				.background#second
				.page_container
					.contentText Hello and Welcome
						br
						|My name is Daniyar Yeralin
						br
						|I'm Designer and
						br
						|Software Developer
						br
						|Living and studying in the USA
			section.second
				.background
				.page_container
					.contentText Hello and Welcome!
			section.third
				.background
				.page_container
					.contentText Hello and Welcome!