.one_page_main
			section.first.active
				.background
				.page_container
					ng-view
			section.second
				.background
				.page_container
					.contentText Hello and Welcome!
			section.third
				.background
				.page_container
					.contentText Hello and Welcome!