.one_page_main
			section.first.active
				//.classysocial (data-orientation="line" data-picture="images/share_core_square.jpg" data-facebook-handle="picozu" data-socl-handle="marius-stanciu" data-twitter-handle="picozu_editor" data-email-handle="office@picozu.net" data-pinterest-handle="picozu" data-instagram-handle="picozu" data-networks="socl,facebook,twitter,instagram,pinterest,email")
				.background
				.page_container
					.row
						.large.large-centered.columns
							.contentText Hello and Welcome
								br
								|My name is Daniyar Yeralin
								br
								|I'm Designer and Software Developer
			section.second(data-midnight="white")
				.background
				.page_container
					.contentText Hello and Welcome!
			section.third
				.background
				.page_container
					.contentText Hello and Welcome!