section.skills
	.background
	.page_container
		.controls
			ul.stack.button-group
				li
					h2 Filter
				li
					button.filter(data-filter="all") Show all
				li
					button.filter(data-filter=".programLang") Programming Languages
				li
					button.filter(data-filter=".scriptLang") Scripting Languages
				li
					button.filter(data-filter=".webLang") Web Languages
				li
					button.filter(data-filter=".other") Other
			ul.stack.button-group
				li
					h2 Sort
				li
					button.sort(data-sort="value:desc") Descending
				li
					button.sort(data-sort="value:asc") Ascending
		.content
			.row
				.small-3.large-centered.columns.skillsLabel Skills
			#Container
				.row.langs
					.large-4.columns.mix.programLang(data-value="6").end
						.lang_1
							.infoBlock C++/C
							.progress.large-12.round
								span.meter(style="width:80%; background-color:#FFCF00;")
							.langContent Upper
					.large-4.columns.mix.programLang(data-value="6").end
						.lang_2
							.infoBlock Java
							.progress.large-12.round
								span.meter(style="width:80%; background-color:#FFCF00;")
							.langContent Upper
					.large-4.columns.mix.scriptLang(data-value="8").end
						.lang_4
							.infoBlock JavaScript
							.progress.large-12.round
								span.meter(style="width:80%; background-color:#FFCF00;")
							.langContent Upper
					.large-4.columns.mix.scriptLang.webLang(data-value="4").end
						.lang_4
							.infoBlock Python
							.progress.large-12.round
								span.meter(style="width:40%; background-color:#D66B1D;")
							.langContent Medium
					.large-4.columns.mix.webLang(data-value="10").end
						.lang_4
							.infoBlock Stylus/Jade
							.progress.large-12.round
								span.meter(style="width:100%; background-color:#06FF00;")
							.langContent Advanced
					.large-4.columns.mix.webLang(data-value="8").end
						.lang_3
							.infoBlock HTML5
							.progress.large-12.round
								span.meter(style="width:80%; background-color:#FFCF00;")
							.langContent Upper
					.large-4.columns.mix.webLang(data-value="4").end
						.lang_4
							.infoBlock Meteor
							.progress.large-12.round
								span.meter(style="width:40%; background-color:#D66B1D;")
							.langContent Medium
					.large-4.columns.mix.webLang(data-value="8").end
						.lang_4
							.infoBlock Phonegap
							.progress.large-12.round
								span.meter(style="width:80%; background-color:#FFCF00;")
							.langContent Upper
					.large-4.columns.mix(data-value="4").end
						.lang_4
							.infoBlock DataBases
							.progress.large-12.round
								span.meter(style="width:40%; background-color:#D66B1D;")
							.langContent Medium
					.large-4.columns.mix.webLang(data-value="8").end
						.lang_4
							.infoBlock CSS3
							.progress.large-12.round
								span.meter(style="width:80%; background-color:#FFCF00;")
							.langContent Upper
					.large-4.columns.mix.other(data-value="4").end
						.lang_4
							.infoBlock Linux
							.progress.large-12.round
								span.meter(style="width:40%; background-color:#D66B1D;")
							.langContent Medium
					.large-4.columns.mix.other(data-value="4").end
						.lang_4
							.infoBlock Photoshop
							.progress.large-12.round
								span.meter(style="width:40%; background-color:#D66B1D;")
							.langContent Medium