<link rel="stylesheet" type="text/css" href="css/index.css" />
<link rel="stylesheet" type="text/css" href="css/main.css" />
<link rel="stylesheet" type="text/css" href="css/skills.css" />
<link rel="stylesheet" type="text/css" href="css/contacts.css" />
<link rel="stylesheet" type="text/css" href="css/aboutMe.css" />
<link rel="stylesheet" type="text/css" href="css/swingAnimation.css" />
<link rel="stylesheet" type="text/css" href="css/goalProgress.css" />
<link rel="stylesheet" type="text/css" href="css/nprogress.css" />
<link rel="stylesheet" type="text/css" href="css/animate.css" />
<link rel="stylesheet" type="text/css" href="css/menu.css" />
<link rel="stylesheet" type="text/css" href="css/foundation-icons.css" />
<link href='css/onepage-scroll.css' rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="css/foundation.css" />
<link rel="stylesheet" type="text/css" href="css/jquery.classysocial.css" />
