<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="js/nprogress.js"></script>
<script type="text/javascript" src="js/jquery.onepage-scroll.js"></script>
<script src="js/modernizr.custom.js"></script>
<script src="js/chart.js"></script>
<script src="js/anijs-min.js"></script>
<script src="js/index.js"></script>