<script type="text/javascript" src="js/jquery-2.1.1.js"></script>
<script type="text/javascript" src="js/jquery-1.9.1.js"></script>
<script src="js/nprogress.js"></script>
<script type="text/javascript" src="js/jquery.onepage-scroll.js"></script>
<script src="js/modernizr.custom.js"></script>
<script src="js/chart.js"></script>
<script src="js/anijs-min.js"></script>
<script src="js/index.js"></script>
<script src="js/vendor/modernizr.js"></script>
<script src="js/jquery.classysocial.js"></script>